@import url("bootstrap-icons-1.7.1/font/bootstrap-icons.css");

.btn-success{
    background: #6b2caa;
    color: #ffffff;
    border-color: #6b2caa;
  }
  
  .btn-success:hover,
  .btn-success:active,
  .btn-success:focus,
  .btn-success.active {
    background: #4d0a8f;
    border-color: #4d0a8f;
  }

